<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>{{ .Site.Title }}</h3>
            <p>Tu guía digital para preparar platos del Perú.</p>
        </div>
        <div class="footer-section">
            <h3>Enlaces rápidos</h3>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Síguenos en:</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://x.com/?logout=1748270693958" title="X"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/" title="YouTube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; {{ now.Year }} {{ .Site.Title }} - Todos los derechos reservados</p>
    </div>
</footer>